body {
  margin: 0;
  font-family: roboto;
}
#root {
  height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
}
.accueil {
  margin: 0px 0px 0px 10%;
  padding-left: 30px;
  width: 100%;
  height: 90vh;
  .separation-stat {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
    .information-stat {
      display: flex;
      flex-direction: column;
      width: 25%;
    }
  }
}
.nom {
  color: $couleur-rouge;
}
.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  .graph-objectif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.radar {
  background-color: rgba(40, 45, 48, 1);
  color: rgba(255, 255, 255, 1);
}
.activity {
  width: 835px;
  height: 320px;
}

.objectif,
.scoreTruc,
.radar {
  width: 258px;
  height: 263px;
}
